@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
:root{
  --darkbg: #e3dfc8;
  --lightbg: #f5f1da;
  --primary: #f8bd7f;
  --secondary: #00416d;
}

.hero{
  background-color: var(--lightbg);
  height: 100vh;
  padding: 0em 10em 0em 0em;
}

h1, h2, h3, h4, h5, h6, p, span, a{
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 7em;
  font-weight: 500;
  color: var(--secondary);
}

.hero h2{
  font-size: 2em;
  color: var(--secondary);
  opacity: 0.95;
  font-weight: 300;
}

.myrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mycolumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0em 0em 0em 3em;
}

.heroImg{
  height: 100vh;
  width: auto;
}

.button {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
  font-family: "Segoe UI";
  letter-spacing: 1px;
}
.button:before {
  border-radius: 100px;
  border: 2px solid #468cdc;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 110px;
  width: 110px;
  margin-left: -57px;
  margin-top: -57px;
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}
.button:hover:before {
  transform: scale(1.05);
}
.button.circle {
  background: #23466e;
  border: none;
  border-radius: 900px;
  color: #e4ecfa;
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: relative;
  margin: auto;
  margin-top: 25px;
  transition: 0.5s;
}
.button.circle:hover {
  background: #3e70aa;
  padding: -2px;
}