.panelA {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .sours {
    height: 70vh;
    pointer-events: none;
    text-align: center;
  }
  